{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Список отделов</h1>
            <p><a href="./departments/add" class="pull-right"><i class="glyphicon glyphicon-plus"></i>Добавить
                    отдел</a></p>
        </div>

        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Город</th>
                        <th>Адресс</th>
                        <th>Телефон</th>
                    </tr>

                </thead>
                <tbody>

                    {% for dep in departments %}
                    <tr>
                        <td>{{ dep.id }}</td>
                        <td>{{ dep.title }}</td>
                        <td>{{ dep.city }}</td>
                        <td>{{ dep.address }}</td>
                        <td>{{ dep.phone }}</td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}