{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Список отделов</h1>
            {% if user.is_authenticated %}
                <p><a href="/departments/add" class="pull-right"><i class="glyphicon glyphicon-plus"></i>Добавить
                        отдел</a></p>
            {% endif %}
        </div>

        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Телефон</th>
                    </tr>

                </thead>
                <tbody>

                    {% for dep in departments %}
                    <tr>
                        <td>{{ dep.id }}</td>
                        <td>{{ dep.title }}</td>
                        <td>{{ dep.city }}</td>
                        <td>{{ dep.address }}</td>
                        <td>{{ dep.phone }}</td>
                        <td><a class="btn btn-default" href="{% url 'del_department' id=dep.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}