{% extends 'base.html' %}

{% block content %}
    <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                    </tr>

                    </thead>
                    <tbody>
                            <tr>
                                {% for dep in departments %}
                                    <td>{{ dep.id }}</td>
                                    <td>{{ dep.name }}</td>
                                    <td>{{ dep.city }}</td>
                                    <td>{{ dep.address }}</td>
                                    <td>{{ dep.phone }}</td>
                                {% endfor %}

                            </tr>
                    </tbody>
                </table>
{% endblock %}