{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Список сотрудников</h1>
            <p><a href="/employees/add" class="pull-right"><i class="glyphicon glyphicon-plus"></i>Добавить
                    сотрудника</a></p>
        </div>

        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Дата рождения</th>
                        <th>Дата приёма на работу</th>
                        <th>Телефон</th>
                        <th>Должность</th>
                        <th>Отдел</th>
                    </tr>

                </thead>
                <tbody>
                        {% for emp in employees %}
                            <tr>
                                <td>{{ emp.id }}</td>
                                <td>{{ emp.first_name }}</td>
                                <td>{{ emp.last_name }}</td>
                                <td>{{ emp.date_birth }}</td>
                                <td>{{ emp.date_employment }}</td>
                                <td>{{ emp.phone }}</td>
                                <td>{{ emp.position }}</td>
                                <td>{{ emp.department }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}