{% extends 'base.html' %}

{% block content %}
    <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Дата рождения</th>
                        <th>Дата приёма на работу</th>
                        <th>Телефон</th>
                        <th>Должность</th>
                        <th>Отдел</th>
                    </tr>

                    </thead>
                    <tbody>
                            <tr>
                                {% for emp in employees %}
                                    <td>{{ emp.id }}</td>
                                    <td>{{ emp.first_name }}</td>
                                    <td>{{ emp.last_name }}</td>
                                    <td>{{ emp.date_birth }}</td>
                                    <td>{{ emp.date_employment }}</td>
                                    <td>{{ emp.phone }}</td>
                                    <td>{{ emp.position }}</td>
                                    <td>{{ emp.department }}</td>
                                {% endfor %}

                            </tr>
                    </tbody>
                </table>
{% endblock %}