{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Список должностей</h1>
            {% if user.is_authenticated %}
                <p><a href="/positions/add" class="pull-right"><i class="glyphicon glyphicon-plus"></i>Добавить
                        должность</a></p>
            {% endif %}
        </div>

        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                    </tr>

                </thead>
                <tbody>

                    {% for pos in positions %}
                    <tr>
                        <td>{{ pos.id }}</td>
                        <td>{{ pos }} <a class="btn btn-default" href="{% url 'del_position' id=pos.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>

                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}