{% extends "base.html" %}

{% block content %}
<div class="container text-center">

  {% if not user.is_authenticated %}
  {% if form.errors %}
  <p class="error">Логин и пароль не совпадают. Попробуйте снова.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p class="error">Вы не имеете доступ к данной странице. Пожалуйста, сначала выполните вход.</p>
  {% else %}
  <p class="error">Пожалуйста, сначала выполните вход.</p>
  {% endif %}
  {% endif %}

  <form method="post" class="login-form" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {% else %}
  <p class="error">Вы уже вошли на страницу!</p>
  {% endif %}
</div>
{% endblock %}